.close {
    position: relative;
    float: right;
    color: #aaa;
    right: 15px;
    top: 10px;
}

.ReactModal__Content {
    padding: 0 !important;
    width: 60%;
    margin: 0 auto;
    height: 550px;
    overflow: hidden !important;
}

.signup-box h2 {
    position: absolute;
    top: 21px;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    width: 100%;
}

.signup-box .bannerbox img {
    width: 100%;
}

.signup-box .area {
    padding: 10px 30px;
}

.sign-up.user {
    padding: 30px 15px 10px 0;
    margin: 0 !important;
}

.mdl-shadow--2dp {
    box-shadow: none !important;
    /* 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); */
}