.agree {
    font-size: 0.8rem;
    margin-top: 10px;
}

.btn-block {
    margin-top: 55px;
}

.btn-primary, .center-div .firebaseui-button {
    background: #FF2E57 !important;
    color: #fff !important;
    border: 1px solid #FF2E57 !important;
    display: block !important;
    width: 100% !important;
    padding: 0.5rem 1rem !important;
    font-size: 1.171875rem !important;
    line-height: 1.5 !important;
    border-radius: 0.3rem;
    height: auto !important;
    margin-left: 0 !important;
    margin-bottom: 20px;
    box-shadow: none !important;
}

.center-div .mdl-button--raised.mdl-button--colored {
    background: #35a939 !important;
    border: 1px solid #35a939 !important;
    color: #fff;
}

.success-block p {
    color: #35a939 !important;
}

.center-div h3 {
    font-size: 1.5rem;
    text-align: center;
}

.btn.login {
    color: #FF2E57 !important;
    font-size: 1rem;
    padding: 0;
}